.atas {
    background-color: rgb(255, 217, 0);
    font-size: 18px;
    font-weight: 400;
    font-family: "DM Serif Text", serif;
    font-style: normal;
}

.linkaja {
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Serif Text", serif;
    font-style: normal;
}

.subjudul {
    font-size: 28px;
    font-weight: 400;
    font-family: "DM Serif Text", serif;
    font-style: normal;
}

.player {
    background-color: black;
    border: 5px yellow solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.video {
    object-fit: cover;
    max-width: 80%;
}